body {
    background: #f3edd5;         
}

.centered_note {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-25%); 
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.0rem;
    font-family: 'Amatic SC', cursive;
    color: black;
}

.centered_note .planet_sketch {
    max-width: 200px;
    height: auto;
}